.sliderItem {
    padding: 0 15px;
    min-width: 220px;
}
.content {
    padding: 20px 0;
}

.image {
    width: 100%;
}

.title {
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
    color: #384255;
    margin: 0 0 10px;
}

.text {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #384255;
    margin: 0 0 10px;
}

.date {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #384255;
    margin: 0;
}