.catalogItem {
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
}

.img {
    display: block;
    width: 100%;
}

.img img {
    width: 100%;
    height: auto;
}

.content {
    padding: 30px 30px 16px;
}

.title {
    display: inline-block;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    color: #1A1A25;
    margin-bottom: 15px;
}

.listItem {
    padding: 5px 0px;
    border-bottom: 1px solid rgba(133, 143, 164, 0.2);
}

.listItem:last-child {
    border-bottom: none;
}

.listItem a {
    font-size: 16px;
    line-height: 150%;
    color: #1A1A25;
    transition: all .3s ease;
}
.listItem:hover a{
    color: #F53B49;;
}

.catalogItem:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 30px rgba(19, 15, 38, 0.1));
}

@media (max-width: 1100px) {
    .title {
        font-size: 18px;
    }
    .content {
        padding: 20px 30px 16px;
    }
 }